<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="minecrunch.models.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <minecrunch.models.Properties.Settings>
            <setting name="BIOME_SIZE_FACTOR" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="CAVE_FILL_PERCENT" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="CAVE_HEIGHT_PERCENT" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="CAVE_STRETCH_PERCENT" serializeAs="String">
                <value>80</value>
            </setting>
        </minecrunch.models.Properties.Settings>
    </userSettings>
</configuration>